FORMAT: 1A
HOST: http://ehealth.edenlabllc.com/

# eHealth API

This is a API documentation for Ukrainian Health Services government institution back-end, that should provide:

* Master Patients Index (MPI)
* Global Medical Institutions and Doctors Registries
* Partnership Relation Management (PRM) module that describes business relations between this 3 entities.

Project development is fully transparent, you can find it's source code on GitHub:

* [eHealth API and issue tracker](https://github.com/edenlabllc/ehealth.api)
* [Master Patient Index](https://github.com/edenlabllc/mpi.api)
* [Partnership Relation Management](https://github.com/edenlabllc/prm.api)

<!-- * [Reference Implementation of Hospital Information System UI](https://github.com/edenlabllc/prm.web) -->

This API design in based on [Nebo #15 API Design Manifest](http://docs.apimanifest.apiary.io/).

## Docs Structure

This document contains both internal and public (usually `/api/..`) API specifications. If you plan to use it as outside API consumer - please refer only to sections that marked as `Public`.

<!--
## Pagination

We apply cursor based pagination..

## Authentication

We use three-legged oAuth authentication, RFC..
-->

## Context Switching for end-users

Since Doctor may have multiple work-places, you MUST fetch list of possible work-contexts and apply `legal_entity_id` filter on each request, where this parameter is available.

Thus you will make sure that end-user understand from which context entities are managed.

If our API returns only one work context, you are free to hide context picker.

## Contribution Guidelines

TODO.

## Submitting Issues

To submit issues you should use [Issue Tracking Repo](https://github.com/edenlabllc/ehealth.api), issues in all other repositories are used to plan backlog and non-related issued will be closed.

# Group Internal. Authorization Provider

For security purposes eHealth doesn't allow proxying passwords or to perform any sort back-end authorization. You should always redirect your customers (eg. doctors, we call them "consumers") to the Login UI.

After obtaining `access_token` all subsequent requests should be made with `Authorization: Bearer base64(access_token:)` header.

## Login UI [/oauth]

### Show Login UI [GET /oauth/ui{?client_id,redirect_url,scope,response_type}]

This method renders response login page. It's structure can differ by required scopes and security measures enabled by project (they can change).

For security purposes, we will set `X-Frame-Options: deny` header that will disallow opening this page in an iframe.

+ Parameters
    + `client_id`: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string, required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
    + `redirect_url`: http://example.com/ (string, required) - URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
    + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string, required) - List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.
    + response_type: code (enum, required) - Response type, only `code` is supported.

+ Response 200 (text/html; charset=UTF-8)

    + Headers

            X-CSRF-Token: my-csrf-token

## oAuth Codes [/oauth/codes]

### Issues oAuth Code Grant [POST /oauth/codes]

API consumer **back-end** should use this method exchange Code Grant to Access Token.

+ Request (application/json)

    + Headers

            X-CSRF-Token: `my-csrf-token`

    + Attributes (object)
        + client_id: `mis-001` (string, required) - Medical Information System ID issued upon integration request. Used to identify application developer.
        + login: gandalf (string, required) - Consumer login.
        + password: secret (string, required) - Consumer password.
        + timestamp: 1489583714 (number, optional) - Timestamp when request was made. If timestamp was made more than 15 minutes ago, corresponding error will be returned. Required only if `signature` is present.
        + signature: signature (string, optional) - `login + bcrypt(password) + timestamp` string signed with a consumer's private key. Required for some scopes.

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + code: 299383828 (string, required) - oAuth code grant

## oAuth Tokens [/oauth/tokens]

### Exchange oAuth Code Grant to Access Token [POST]

+ Request (application/json)

    + Headers

            X-CSRF-Token: my-csrf-token

    + Attributes (object)
        + client_id: `mis-001` (string, required) - Medical Information System ID issued upon integration request. Used to identify application developer.
        + client_secret: `mis-001-secret-key` (string, required) - Medical Information System secret key issued upon integration request. Used to identify application developer.
        + code: 299383828 (string, required) - oAuth code grant.
        + `grant_type`: authorization_code (string, fixed) - oAuth Grant Type. Currently only `authorization_code` is supported.

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Access_Token)

### Get oAuth Access Token details [GET /oauth/tokens/{access_token}]

This method is designed to be used only by eHealth API gateway.

+ Parameters
    + access_token: `my-oauth-token` (string, required) - oAuth access token.

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Access_Token)

### Set an oAuth Access Token MSP Context [PATCH /oauth/tokens/{access_token}]

This method is designed to be used only by eHealth API gateway.

+ Parameters
    + access_token: `my-oauth-token` (string, required) - oAuth access token.

+ Request (application/json)
    + Attributes
        + msp_id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, optional)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Access_Token)
            + msp_id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

### Get token to change the password [POST /oauth/tokens]

This method is designed to give the user a possibility to receive a token in ordr to change a password.

+ Request (application/json)

    + Attributes (object)
      
        + client_id: `b3ae990b-3322-49a9-80ac-27684204ece4` (string, required) - Medical Information System ID issued upon integration request. Used to identify application developer.
        + email: `user.email@gmail.com` (string, required) - user's email
        + password: 299383828 (string, required) - current expired password
        + scope: `user: change_password`  (string, required)
        + `grant_type`: change_password (string, fixed) - oAuth Grant Type.

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Access_Token_1)

## oAuth Invites [/oauth/invites]

### Create user invite [POST]

+ Request (application/json)
    + Attributes
        + email: email@example.com (string, required)
        + data (object)

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + email: email@example.com (string, required)
            + expires_at: `2017-08-19T00:00:00.000Z` (string, required) - ISO Datetime.

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Object not found` (string)

+ Response 400 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 400 (number)
        + error (Response__Error)
            + type: USER_EXISTS (string)
            + message: `User already exists` (string)

### Confirm user invite [POST /oauth/invites/{id}/actions/approve]

+ Request (application/json)
    + Attributes
        + password: password (string, required)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object)
            + user_id: 60f523a7-c223-4b12-b5a7-b82a53bba94f (string, required)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Object not found` (string)

+ Response 400 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 400 (number)
        + error (Response__Error)
            + type: EXPIRED (string)
            + message: `User already exists` (string)

## oAuth Users [/oauth/users]

### Get User [GET /oauth/users{?id,email}]

+ Parameters
    + id: 60f523a7-c223-4b12-b5a7-b82a53bba94f (string, optional)
    + email: email@example.com (string, optional)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

### Request Password Recovery [POST /credentials_recovery_requests]

This method will send password recovery email to a User. Request from this email should be used in
[Reset User password]() method.

+ Request (application/json)
    + Attributes
        + `credentials_recovery_request` (object)
            + email (string)

+ Response 201 (application/json)
    + Attributes (`Response_OK`)
        + meta (`Response__Meta`)
            + code: 201 (number)
        + data (object)
            + is_active: true (boolean)
            + expires_at: `2017-04-20T19:14:13Z` (string) - Expiration datetime in ISO 8601 format

### Reset User Password [PATCH /credentials_recovery_requests/{id}/actions/reset_password]

+ Parameters
    + id: `request-1380df72-275a-11e7-93ae-92361f002671` (string, required)

+ Request (application/json)
    + Attributes
        + user (object)
            + password: `notASecret1` (string, required) - User password. At least 6 characters.

+ Response 200 (application/json)
   + Attributes (`Response_OK`)
        + data (`User_Response`)


# Group Internal. Master Patients Index

## Persons [/persons]

### Get Patient by ID [GET /persons/{id}]

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer YW5WcFkyVnFkV2xqWldwMWFXTmxDZzpjY1hwWTR0cWRZbGVjNHAxYUdsMXVJ

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`Person_Full`)


### Create or Update person [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer YW5WcFkyVnFkV2xqWldwMWFXTmxDZzpjY1hwWTR0cWRZbGVjNHAxYUdsMXVJ

    + Attributes (Person_Request)

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (`Person_Full`)


### Search for a Person [GET /api/persons{?first_name,last_name,second_name,birth_date,tax_id,phone_number,birth_place,page,page_size}]

This method allows to search for a Person (MPI) without disclosing personal data.

Method returns only **requested** parameters, birth place and second name in addition for manual identification on MSP side.

+ Parameters
    + first_name: Петро (string, required)
    + last_name: Іванов (string, required)
    + second_name: Миколайович (string, optional)
    + birth_date: `1991-08-19T00:00:00.000Z` (string, required) - ISO Datetime.
    + tax_id: 3126509816 (string, optional)
    + phone_number: `+380508887700` (string, optional)
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`Person_Short`])

+ Response 403 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta, fixed-type)
            + code: 403 (number)
        + error (Response__Error, fixed-type)
            + type: `too_many_results`
            + message: `This API method returns only exact match results, please retry with more specific search result` (string)

### Search for a Person internal [GET /api/persons_internal{?type,number,page,page_size}]

This method allows to search for a Person (MPI) knowing person's document number.

+ Parameters
    + type: passport (string, required)
    + number: `CM123456` (string, required)
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array[`Person_Short`])

## Merge Candidates [/merge_candidates]

### Get merge candidates [GET /merge_candidates{?id,person_id,master_person_id,status,limit,starting_after,ending_before}]

+ Parameters
    + id: `8aa4d353-a58f-45f6-b5ce-a89a9cc39391` (string, optional) - Unique record identifier
    + person_id: `50320ee5-2bca-472c-a1a0-28e2e003ec2a` (string, optional) - Merge candidate identifier
    + `master_person_id`: `cb553981-4b7f-45ec-8f73-f77faf2dcb22` (string, optional) - Master person identifier
    + status: NEW (enum, optional) - Record status. Default: NEW
        - NEW
        - MERGED
    + limit: 20 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50.
    + starting_after: 56c31536a60ad644060041af (string, optional) - A cursor to fetch next page. Taken from collection response.
    + ending_before: 56c31536a60ad644060041aa (string, optional) - A cursor to fetch previous page. Taken from collection response.

+ Response 200 (application/json)
    + Attributes (Response_Collection)
        + data (array[`Merge_Candidate`])

### Merge candidate [POST /merge_candidates/{id}/actions/merge]

1. Check current candidate status (status == NEW). If status != NEW - respond with 409 (invalid status)
2. Update mpi.person is_active to false
3. Update mpi.merge_candidates record status to MERGED

+ Parameters
    + id: `8aa4d353-a58f-45f6-b5ce-a89a9cc39391` (string, optional) - Unique record identifier

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`Merge_Candidate`)

# Group Internal. IL DB

### Get Declaration requests List [GET /declaration_requests{?tax_id,employee_id,legal_entity_id,status,page,page_size}]

Methods returns list of declaration requests by combination of patient_id, doctor_id, msp_id.

+ Parameters
    + tax_id: `3381275610` (string, optional) - MPI ID of a patient.
    + employee_id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - MPI ID of a doctor.
    + `legal_entity_id`: `A7C1ABD7-4472-42CB-9C39-3F3AB1F1F4FD` (string, optional) - MSP ID.
    + status: active (string, optional) - Declaration request current status.
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`crud_Declaration_request_get`])

### Update declaration requests [PATCH /declaration_requests/]

This method to update the declaration request status.

+ Request (application/json)
    + Attributes
        + `declaration_requests` (array[`declaration_request_patch`])
+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (array[`crud_Declaration_request_get`])

### Get Declaration documents list [GET /declarations/{id}/documents{?page,page_size}]
Service to get list of signed URLs with the read access for all the documents attached to the declaration request using declaration identifier

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`media_content`])

# Group Internal. OPS DB

## Declarations [/declarations]

### Create Declaration [POST]

Method to register new declaration record

+ Request (application/json)
    + Attributes (Declaration)

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (`crud_Declaration_get`)

### Update declaration [PATCH /declaration/{id}]

This method to update the declaration status.


+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)


+ Request (application/json)
    + Attributes (crud_Declaration_patch)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_Declaration_get`)

### Get Declaration Details by ID [GET /declarations/{id}]

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_Declaration_get`)

### Get Declarations List [GET /declarations{?person_id,employee_id,legal_entity_id,division_id,status,page,page_size}]

Methods returns list of declarations by combination of patient_id, doctor_id, msp_id.

Response will contain only records that you have access to.

+ Parameters
    + person_id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - MPI ID of a patient.
    + employee_id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - MPI ID of a doctor.
    + `legal_entity_id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - MSP ID.
    + division_id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - MSP ID.
    + status: active (text, optional) - Search only for active or disabled declarations.
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_Collection_V2)
        + data (array[`crud_Declaration_get`])

### Terminate declarations by employee or person [PATCH /declarations/terminate]

1. One parameter of `employee_id` and `person_id` must be set
2. Search active declarations by `employee_id` or `person_id`
3. Update declarations status to TERMINATED

+ Request (application/json)
    + Attributes (object)
        + employee_id: `73ebee6e-b9d9-41b0-b2ad-ab7704d5306e` (string, optional)
        + person_id: `50320ee5-2bca-472c-a1a0-28e2e003ec2a` (string, optional)
        + reason_description: `Згідно постанови 1 від 10.01.2017` (string, optional)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`nhs_declaration_list`])


# Group Internal. Partner Relationship Management

## Dictionaries [/dictionaries]

### Get dictionaries [GET /dictionaries{?name}]

+ Parameters
    + name: DOCUMENT_TYPE (string, optional)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (array[`Dictionary`])

### Update dictionary [PATCH /dictionaries/{name}]

+ Parameters
    + name: DOCUMENT_TYPE (string, required)

+ Request (application/json)
    + Attributes (Dictionary)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (array[`Dictionary`])

## Party [/party]

### Create new party [POST]

Method to create new party record.

+ Request (application/json)
    + Attributes (object)
        + party(`crud_party_post`)
        + users(array)
            + (object)
                + user_id: `2de19358-0062-4f14-8a50-9dff015ed165` (string, required)

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + party(`crud_party_get`)
            + users(array)
                + (object)
                    + user_id: `2de19358-0062-4f14-8a50-9dff015ed165` (string, required)


### Update party [PATCH /party/{id}]

This method to update the employee info by ID.


+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)


+ Request (application/json)
    + Attributes (object)
        + party(`crud_party_post`)
        + users(array)
            + (object)
                + user_id: `2de19358-0062-4f14-8a50-9dff015ed165` (string, required)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + party(`crud_party_get`)
            + users(array)
                + (object)
                    + user_id: `2de19358-0062-4f14-8a50-9dff015ed165` (string, required)


### Search for party [GET /party{?first_name,last_name,second_name,birth_date,no_tax_id,tax_id,phone_number,page,page_size}]

Methods returns list of parties.

+ Parameters
    + first_name: Петро (string, optional)
    + last_name: Іванов (string, optional)
    + second_name: Миколайович (string, optional)
    + birth_date: `1991-08-19T00:00:00.000Z` (string, optional) - ISO Datetime.
    + no_tax_id: false (boolean, optional)
    + tax_id: 3126509816 (string, optional)
    + phone_number: `+380508887700` (string, optional)
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array)
            + (object)
                + party(`crud_party_get`)
                + users(array)
                    + (object)
                        + user_id: `2de19358-0062-4f14-8a50-9dff015ed165` (string, required)
                

### Get party details [GET /party/{id}]

Methods returns party details by ID.

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object)
            + party(`crud_party_get`)
            + users(array)
                + (object)
                    + user_id: `2de19358-0062-4f14-8a50-9dff015ed165` (string, required)


## Employees [/employees]

### Create new employee [POST]

Method to create new employee record for the MSP.


+ Request (application/json)
    + Attributes (crud_employee_post)

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (crud_employee_get)

### Update employee [PUT /employees/{id}]

This method to update the employee info by ID.


+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)


+ Request (application/json)
    + Attributes (crud_employee_post)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (crud_employee_get)


### Search for an Employee [GET /employees{?party_id,no_tax_id,legal_entity_id,division_id,employee_type,status,page,page_size}]

Methods returns list of employees.

+ Parameters
    + `party_id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - user_id of a doctor.
    + `no_tax_id`: true (boolean, optional)
    + `legal_entity_id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - MSP ID.
    + division_id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - division ID.    
    + `employee_type`: DOCTOR (string) - `Dictionary: EMPLOYEE_TYPE`
    + status: APPROVED (enum)
        - NEW
        - APPROVED
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[crud_employee_get])

### Get Employee details [GET /employees/{id}]

Methods returns employee details by ID.

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_employee_get`)

### Get Employee Request by ID [GET /employee_requests/{id}]

This service should be used for internal services/processes. Used without `access_token`

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required) 


+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Employee_Request_Details)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
        + urgent (object, optional)
            + user_id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

### Approve Employee Request [POST /employee_requests/{id}/approve]

This service should be used for approve employee request (set status on APPROVED).

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required) 
    
+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
       + data (Employee_Request_Details)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

### Reject Employee Request [POST /employee_requests/{id}/reject]

This service should be used for reject employee request (set status on REJECTED).


+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required) 
    
+ Request (application/json)


+ Response 200 (application/json)
    + Attributes (Response_OK)
       + data (Employee_Request_Details)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

### Create User via Employee Request [POST /employee_requests/{id}/user{?password}]

This service should be used for internal services/processes. Used without `access_token`

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required) 

+ Request (application/json)
    + Attributes
        + password: `qwerty` (string, required) 

+ Response 201 (application/json)
    + Headers

            Location: /users/10

    + Attributes (`Response_OK`)
        + meta (`Response__Meta`)
            + code: 201 (number)
        + data (`User_Response`)

## Legal Entities [/legal_entities]

### Get Legal Entities List [GET /legal_entities{?edrpou,type,status,legal_form,owner_property_type,page,page_size}]

+ Parameters
    + edrpou: 5432345432 (string, optional)
    + type (enum, optional)
        - MSP
    + status: VERIFIED (enum, optional)
        - VERIFIED
        - NOT_VERIFIED
    + owner_property_type: state (enum, optional)
        - STATE
        - PRIVATE
    + legal_form: `ПІДПРИЄМЕЦЬ-ФІЗИЧНА ОСОБА` (enum, optional)
        - ПІДПРИЄМЕЦЬ-ФІЗИЧНА ОСОБА
        - АКЦІОНЕРНЕ ТОВАРИСТВО
        - ВІДКРИТЕ АКЦІОНЕРНЕ ТОВАРИСТВО
        - ЗАКРИТЕ АКЦІОНЕРНЕ ТОВАРИСТВО
        - РЕЛІГІЙНА ОРГАНІЗАЦІЯ
        - ІНШІ ОРГАНІЗАЦІЙНО-ПРАВОВІ ФОРМИ
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[crud_legal_entity_get])

### Get Legal Entity Details by ID [GET /legal_entities/{id}]

+ Parameters
    + id: `1341234` (string)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_legal_entity_get`)

### Create Legal Entity [POST]

+ Request (application/json)
    + Attributes (crud_legal_entity_post)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_legal_entity_get`)

### Update Legal Entity [PATCH /legal_entities/{id}]

+ Parameters
    + id: `24352342` (string, required)

+ Request (application/json)
    + Attributes (crud_legal_entity_patch)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_legal_entity_get`)


## Divisions [/divisions]

### Create new division [POST]

Method to create new division record.

+ Request (application/json)
    + Attributes (`Division`)

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (`crud_division_get`)

### Update division [PATCH /divisions/{id}]

This method to update the division info by ID.


+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)


+ Request (application/json)
    + Attributes (`Division`)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_division_get`)


### Search Divisions [GET /divisions/{?type,legal_entity_id,name,page,page_size}]

Methods returns list of legal entity divisions.

+ Parameters
    + type: clinic (string, optional)
    + `legal_entity_id`: 314083428 (string, optional)
    + name: Клініка (string, optional)
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`crud_division_get`])

### Get division details [GET /divisions/{id}]

Methods returns Division details by ID.

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_division_get`)

## Ukrainian medical registry records [/ukr_med_registry]

Registry of all the MSP's that has the `state` ownership type 
### Create new ukr_med_registry record [POST]

Method to create new ukr_med_registry record.

+ Request (application/json)
    + Attributes (`crud_ukr_med_registry_post`)

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (`crud_ukr_med_registry_get`)


### Update ukr_med_registry record [PATCH /ukr_med_registry/{id}]

This method to update the ukr_med_registry info by ID.


+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)


+ Request (application/json)
    + Attributes (crud_ukr_med_registry_post)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (crud_ukr_med_registry_get)


### Search for the ukr_med_registry record [GET /ukr_med_registry{?edrpou}]

Methods returns list of ukr_med_registry records.

+ Parameters
    + edrpou: 123456 (string, required)
 
+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_Collection)
        + data (array[`crud_ukr_med_registry_get`])

### Get the ukr_med_registry details [GET /ukr_med_registry/{id}]

Methods returns ukr_med_registry details by ID.

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`crud_ukr_med_registry_get`)


# Group Internal. Portal and Reports

## MainStats [/reports/stats]

### Get Main Stats [GET /reports/stats/]

Methods returns agregated numbers of declarations, doctors and msp.
Total statistis are calculated on the date that is transmitted in the current date

**Detailed spec:**

```json
{
    "data": {
      "declarations": 100, -- select count(*) from declarations where inserted_at <= to_date and status in('active', 'pending_verification')
      "msps": 2, -- select count(*) from legal_entities where type ='MSP' and inserted_at between start_date and to_date and is_active = true and status='ACTIVE'
      "doctors": 15 -- select count(*) from employees where inserted_at between start_date and to_date and is_active = 'true' and employee_type = 'DOCTOR' and status = 'APPROVED'
      "pharmacies": 2 -- select count(*) from legal_entities where type ='PHARMACY' inserted_at between start_date and to_date and is_active = 'true' and status='ACTIVE'
      "pharmacists": 6 -- select count(*) from employees where inserted_at between start_date and to_date and is_active = 'true' and employee_type = 'PHARMACIST' and status = 'APPROVED'
    },
}
```


+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (object, optional)
            + declarations: 100 (number, required)
            + msps: 2 (number, required)
            + doctors: 15 (number, required)
            + pharmacies: 2 (number, required)
            + pharmacists: 6 (number, required)

### Get Main Stats by Regions [GET /reports/stats/regions/]

Methods returns agregated numbers of declarations, MSP, PHARMACIES, doctors and pharmacists grouped by region.
Total statistis are calculated on the date that is transmitted in the current dste
The service returns statistics for all regions

**Detailed spec**

```
  "declarations": 100, --> declarations.division.addreses['REGISTRATION'].region_ID and status in('active', 'pending_verification')
  "msps": 2, --> legal_entities.[type='MSP' and status='ACTIVE'].addreses['REGISTRATION'].region_ID
  "doctors": 15 --> employees.[employee_type='DOCTOR' & is_active=true and status='APPROVED'].division_id-->divisions.addreses['REGISTRATION'].region_ID
  "pharmacies": 2, --> legal_entities.[type='PHARMACY' and status='ACTIVE'].addreses['REGISTRATION'].region_ID
  "pharmacists": 15 --> employees.[employee_type='PHARMACIST' & is_active=true and status='APPROVED'].division_id-->divisions.addreses['REGISTRATION'].region_ID
  "medication_requests": 30 -->medication_requests.employee_id-->division_id-->divisions.addreses['REGISTRATION'].region_ID
```

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (array[StatsByRegion], optional)
               


### Get Main Stats by Division [GET /reports/stats/division/{division_id}]
Methods returns agregated numbers of declarations and doctors by division.

+ Parameters
    + division_id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string, required)

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
         + data (MainStats_Division, optional)



### Get Histogram Stats Declarations [GET /reports/stats/histogram?{from_date}&{to_date}&{interval}]

Methods returns agregated numbers of declarations.
Total statistis are calculated on the date that is transmitted in the parameter to_date
The statistics for the period are calculated using from_date and to_date
If the region is not specified, the service returns statistics for all regions

+ Parameters
    + from_date: 2017-01-28 (string, required)
    + to_date: 2017-02-28 (string, required)
    + interval: DAY (enum, optional)
      - DAY
      - MONTH
      - YEAR
      + Default: DAY

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (array[HistogramStats], optional)

## Divisions [/report/divisions]

### Search Divisions [GET /stats/divisions{?id,type,name,area,region,settlement,legal_entity_edrpou,legal_entity_id,legal_entity_name,north,east,south,west}]
Method searches divisions by parameters and returnes division details

+ Parameters
    + id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string, optional) - division ID
    + type: CLINIC (enum, optional) - `Dictionary DIVISION_TYPE`
    + name: Відділення1 (string, optional) - the mane of division
    + area:`Волинська` (string, optional) - the name of region where division is located
    + region: `Луцький` (string, optional) - the name of district where division is located
    + settlement: `Луцьк` (string, optional) - the name of settlement where division is located
    + `legal_entity_edrpou`: 12345678 (string, optional) - legal_entity edrpou
    + `legal_entity_id`: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string, optional) - legal entity ID
    + `legal_entity_name`: `Аптека 199` (string, optional) - legal_entity name
    + north: 30.1233 (number, required)
    + east: 50.32423 (number, required)
    + south: 50.32423 (number, required)
    + west: 50.32423 (number, required)

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[EntriesDivisionMap], optional)

## Employee Requests [/employee_requests]

### Approve or Reject Employee Request [POST /employee_requests/{id}/actions/{action}]

This service should be used for approve/reject employee request. 

Available employee status transitions: 
NEW --> REJECTED (action=reject) 
NEW --> APPROVED (action=approve)

Method logic described on [confluence page](https://edenlab.atlassian.net/wiki/pages/resumedraft.action?draftId=1316502&draftShareId=39ff8744-9673-48e0-ab0e-08fc80ed3190)

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)
    + action: approve, reject (enum, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer YW5WcFkyVnFkV2xqWldwMWFXTmxDZzpjY1hwWTR0cWRZbGVjNHAxYUdsMXVJ

+ Response 200 (application/json)
    + Attributes (Response_OK)

# Group Internal. Media Content Storage

Media Content Storage is using Google Cloud Storage as storage back-end and [Signed URL's](https://cloud.google.com/storage/docs/access-control/create-signed-urls-program) for access control policies. 
Before starting upload or reading a file, you need to access a short-lived Signed URL to access the resource.

After obtaining token upload should be proceeded with [Google Cloud Storage API](https://cloud.google.com/storage/docs/xml-api/put-object-upload).

## Resources [/media_content_storage]

### Request Access to the Media Content Storage Resource [POST /media_content_storage/tokens]

+ Request
    + Attributes
        + bucket
        + action (enum)
            - PUT
            - GET
        + resource_id

+ Response 200 (application/json)
    + Attributes
        + bucket
        + action (enum)
            - PUT
            - GET
        + resource_id
        + signed_url

# Group Internal. Global parameters and Products

## Global parameters [/global_parameters]

### Get Global Parameters [GET]

Methods returns global parameters for declarations.

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Global_Parameters)

### Put Global Parameters [PUT]

Method updates global parameters for declarations.

+ Request (application/json)
    + Attributes (Global_Parameters)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Global_Parameters)

# Group Internal. Digital Signature

## Verification [/verification]

### Digital Signature [POST /digital_signatures]

Method checks digital signature and returns result.

+ Request (application/json)
    + Attributes
        + `signed_content`: `MIIWmAYJKoZIhvcNAQcCoIIWiTCCFoUCAQExCzAJBgUrDgMCGgUAMIISuwYJKoZIhvcNAQcBoIISrASCEqh7XHJ0ZjFcYW5zaVxhbnNpY3BnMTI1Mlxjb2NvYXJ0ZjE1MDRcY29jb2FzdWJydGY4MTANCntcZm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGljYTt9DQp7XGNvbG9ydGJsO1xyZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVkNzBcZ3JlZW41M1xibHVlOTY7XHJlZDI0OVxncmVlbjI0OVxibHVlMjUxO30NCntcKlxleHBhbmRlZGNvbG9ydGJsOztcY3NzcmdiXGMzNDUxMFxjMjc4NDNcYzQ1MDk4O1xjc3NyZ2JcYzk4MDM5XGM5ODAzOVxjOTg4MjQ7fQ0KXG1hcmdsMTQ0MFxtYXJncjE0NDBcdmlld3cxMDgwMFx2aWV3aDg0MDBcdmlld2tpbmQwDQpcZGVmdGFiNzIwDQpccGFyZFxwYXJkZWZ0YWI3MjBccGFydGlnaHRlbmZhY3RvcjANCg0KXGYwXGZzMjggXGNmMiBcY2IzIFxleHBuZDBcZXhwbmR0dzBca2VybmluZzANClx7XA0KICAgImlkIjoiYjA3NWYxNDgiLFwNCiAgICJzdGFydF9kYXRlIjoiMjAxNy0wMy0wMlQxMDo0NToxNi4wMDBaIixcDQogICAiZW5kX2RhdGUiOiIyMDE3LTAzLTAyVDEwOjQ1OjE2LjAwMFoiLFwNCiAgICJwZXJzb24iOlx7XA0KICAgICAgImZpcnN0X25hbWUiOiJcdWMwXHUxMDU1IFx1MTA3NyBcdTEwOTAgXHUxMDg4IFx1MTA4NiAiLFwNCiAgICAgICJsYXN0X25hbWUiOiJcdWMwXHUxMDMwIFx1MTA3NCBcdTEwNzIgXHUxMDg1IFx1MTA4NiBcdTEwNzQgIixcDQogICAgICAic2blic Vjb25kX25hbWUiOiJcdWMwXHUxMDUyIFx1MTA4MCBcdTEwODIgXHUxMDg2IFx1MTA4MyBcdTEwNzIgXHUxMDgxIFx1MTA4NiBcdTEwNzQgXHUxMDgwIFx1MTA5NSAiLFwNCiAgICAgICJiaXJ0aF9kYXRlIjoiMTk5MS0wOC0xOVQwMDowMDowMC4wMDBaIixcDQogICAgICAiYmlydGhfcGxhY2UiOiJcdWMwXHUxMDQyIFx1MTExMCBcdTEwODUgXHUxMDg1IFx1MTA4MCBcdTEwOTQgXHUxMTAzICwgXHUxMDU5IFx1MTA4MiBcdTEwODggXHUxMDcyIFx1MTExMSBcdTEwODUgXHUxMDcyICIsXA0KICAgICAgImdlbmRlciI6Ik1BTEUiLFwNCiAgICAgICJlbWFpbCI6ImVtYWlsQGV4YW1wbGUuY29tIixcDQogICAgICAidGF4X2lkIjoiMzEyNjUwOTgxNiIsXA0KICAgICAgIm5hdGlvbmFsX2lkIjoiQ0M3MTUwOTg1MjQzIixcDQogICAgICAic2VjcmV0Ijoic2VjcmV0IixcDQogICAgICAiZG9jdW1lbnRzIjpbXA0KICAgICAgICAgXHtcDQogICAgICAgICAgICAidHlwZSI6IlBBU1NQT1JUIixcDQogICAgICAgICAgICAibnVtYmVyIjoiMTIwNTE4IixcDQogICAgICAgICAgICAiaXNzdWVfZGF0ZSI6IjIwMTUtMDQtMDdUMDA6MDA6MDAuMDAwWiIsXA0KICAgICAgICAgICAgImV4cGlyeV9kYXRlIjoiMjAxNS0wNC0wN1QwMDowMDowMC4wMDBaIixcDQogICAgICAgICAgICAiaXNzdWVkX2J5IjoiRE1TVSJcDQogICAgICAgICBcfVwNCiAgICAgIF0sXA0KICAgICAgImFkZHJlc3NlcyI6W1wNCiAgICAgICAgIFx7XA0KICAgICAgICAgICAgInR5cGUiOiJSRVNJREVOQ0UiLFwNCiAgICAgICAgICAgICJjb3VudHJ5IjoiVUEiLFwNCiAgICAgICAgICAgICJhcmVhIjoiXHVjMFx1MTA0NiBcdTEwODAgXHUxMDkwIFx1MTA4NiBcdTEwODQgXHUxMDgwIFx1MTA4OCBcdTEwODkgXHUxMTAwIFx1MTA4MiBcdTEwNzIgIixcDQogICAgICAgICAgICAicmVnaW9uIjoiXHVjMFx1MTA0MSBcdTEwNzcgXHUxMDg4IFx1MTA3NiBcdTEwODAgXHUxMDk1IFx1MTExMCBcdTEwNzQgXHUxMDg5IFx1MTEwMCBcdTEwODIgXHUxMDgwIFx1MTA4MSAiLFwNCiAgICAgICAgICAgICJjaXR5IjoiXHVjMFx1MTA1MCBcdTEwODAgXHUxMTExIFx1MTA3NCAiLFwNCiAgICAgICAgICAgICJjaXR5X3R5cGUiOiJDSVRZIixcDQogICAgICAgICAgICAic3RyZWV0IjoiXHVjMFx1MTA3NCBcdTEwOTEgXHUxMDgzIC4gXHUxMDUzIFx1MTExMCBcdTEwNzggXHUxMDgwIFx1MTA4NSBcdTEwODkgXHUxMTAwIFx1MTA4MiBcdTEwNzIgIixcDQogICAgICAgICAgICAiYnVpbGRpbmciOiIxNSIsXA0KICAgICAgICAgICAgImFwYXJ0bWVudCI6IjIzIixcDQogICAgICAgICAgICAiemlwIjoiMDIwOTAiXA0KICAgICAgICAgXH1cDQogICAgICBdLFwNCiAgICAgICJwaG9uZXMiOltcDQogICAgICAgICBce1wNCiAgICAgICAgICAgICJ0eXBlIjoiTU9CSUxFIixcDQogICAgICAgICAgICAibnVtYmVyIjoiKzM4MDUwMzQxMDg3MCJcDQogICAgICAgICBcfVwNCiAgICAgIF0sXA0KICAgICAgImF1dGhlbnRpY2F0aW9uX21ldGhvZHMiOltcDQogICAgICAgICBce1wNCiAgICAgICAgICAgICJ0eXBlIjoiU01TIixcDQogICAgICAgICAgICAicGhvbmVfbnVtYmVyIjoiKzM4MDUwODg4NzcwMCJcDQogICAgICAgICBcfVwNCiAgICAgIF0sXA0KICAgICAgImVtZXJnZW5jeV9jb250YWN0Ijpce1wNCiAgICAgICAgICJmaXJzdF9uYW1lIjoiXHVjMFx1MTA1NSBcdTEwNzcgXHUxMDkwIFx1MTA4OCBcdTEwODYgIixcDQogICAgICAgICAibGFzdF9uYW1lIjoiXHVjMFx1MTAzMCBcdTEwNzQgXHUxMDcyIFx1MTA4NSBcdTEwODYgXHUxMDc0ICIsXA0KICAgICAgICAgInNlY29uZF9uYW1lIjoiXHVjMFx1MTA1MiBcdTEwODAgXHUxMDgyIFx1MTA4NiBcdTEwODMgXHUxMDcyIFx1MTA4MSBcdTEwODYgXHUxMDc0IFx1MTA4MCBcdTEwOTUgIixcDQogICAgICAgICAicGhvbmVzIjpbXA0KICAgICAgICAgICAgXHtcDQogICAgICAgICAgICAgICAidHlwZSI6Ik1PQklMRSIsXA0KICAgICAgICAgICAgICAgIm51bWJlciI6IiszODA1MDM0MTA4NzAiXA0KICAgICAgICAgICAgXH1cDQogICAgICAgICBdXA0KICAgICAgXH0sXA0KICAgICAgImNvbmZpZGFudF9wZXJzb24iOlx7XA0KICAgICAgICAgInJlbGF0aW9uX3R5cGUiOiJ0cnVzdGVlIixcDQogICAgICAgICAiZmlyc3RfbmFtZSI6Ilx1YzBcdTEwNTUgXHUxMDc3IFx1MTA5MCBcdTEwODggXHUxMDg2ICIsXA0KICAgICAgICAgImxhc3RfbmFtZSI6Ilx1YzBcdTEwMzAgXHUxMDc0IFx1MTA3MiBcdTEwODUgXHUxMDg2IFx1MTA3NCAiLFwNCiAgICAgICAgICJzZWNvbmRfbmFtZSI6Ilx1YzBcdTEwNTIgXHUxMDgwIFx1MTA4MiBcdTEwODYgXHUxMDgzIFx1MTA3MiBcdTEwODEgXHUxMDg2IFx1MTA3NCBcdTEwODAgXHUxMDk1ICIsXA0KICAgICAgICAgImJpcnRoX2RhdGUiOiIxOTkxLTA4LTE5VDAwOjAwOjAwLjAwMFoiLFwNCiAgICAgICAgICJiaXJ0aF9wbGFjZSI6Ilx1YzBcdTEwNDIgXHUxMTEwIFx1MTA4NSBcdTEwODUgXHUxMDgwIFx1MTA5NCBcdTExMDMgLCBcdTEwNTkgXHUxMDgyIFx1MTA4OCBcdTEwNzIgXHUxMTExIFx1MTA4NSBcdTEwNzIgIixcDQogICAgICAgICAiZ2VuZGVyIjoiTUFMRSIsXA0KICAgICAgICAgInRheF9pZCI6IjMxMjY1MDk4MTYiLFwNCiAgICAgICAgICJkb2N1bWVudHMiOltcDQogICAgICAgICAgICBce1wNCiAgICAgICAgICAgICAgICJ0eXBlIjoiUEFTU1BPUlQiLFwNCiAgICAgICAgICAgICAgICJudW1iZXIiOiIxMjA1MTgiLFwNCiAgICAgICAgICAgICAgICJpc3N1ZV9kYXRlIjoiMjAxNS0wNC0wN1QwMDowMDowMC4wMDBaIixcDQogICAgICAgICAgICAgICAiZXhwaXJ5X2RhdGUiOiIyMDE1LTA0LTA3VDAwOjAwOjAwLjAwMFoiLFwNCiAgICAgICAgICAgICAgICJpc3N1ZWRfYnkiOiJETVNVIlwNCiAgICAgICAgICAgIFx9XA0KICAgICAgICAgXSxcDQogICAgICAgICAicGhvbmVzIjpbXA0KICAgICAgICAgICAgXHtcDQogICAgICAgICAgICAgICAidHlwZSI6Ik1PQklMRSIsXA0KICAgICAgICAgICAgICAgIm51bWJlciI6IiszODA1MDM0MTA4NzAiXA0KICAgICAgICAgICAgXH1cDQogICAgICAgICBdXA0KICAgICAgXH0sXA0KICAgICAgInJlbmV3YWxfY29uc2VudCI6dHJ1ZSxcDQogICAgICAicGF0aWVudF9zaWduZWQiOnRydWUsXA0KICAgICAgImRpc2Nsb3N1cmVfY29uc2VudCI6dHJ1ZSxcDQogICAgICAicHJvY2Vzc19kYXRhX2NvbnNlbnQiOnRydWVcDQogICBcfSxcDQogICAiZW1wbG95ZWUiOlx7XA0KICAgICAgImlkIjoiZDI5MGYxZWUtNmM1NC00YjAxLTkwZTYtZDcwMTc0OGYwODUxIixcDQogICAgICAidGl0bGUiOiJcdWMwXHUxMDgzIFx1MTExMCBcdTEwODIgXHUxMDcyIFx1MTA4OCAiLFwNCiAgICAgICJwYXJ0eSI6XHtcDQogICAgICAgICAiaWQiOiJiMDc1ZjE0OC03ZjkzLTRmYzItYjJlYy0yZDgxYjE5YTliN2IiLFwNCiAgICAgICAgICJmaXJzdF9uYW1lIjoiXHVjMFx1MTA1NSBcdTEwNzcgXHUxMDkwIFx1MTA4OCBcdTEwODYgIixcDQogICAgICAgICAibGFzdF9uYW1lIjoiXHVjMFx1MTAzMCBcdTEwNzQgXHUxMDcyIFx1MTA4NSBcdTEwODYgXHUxMDc0ICIsXA0KICAgICAgICAgInNlY29uZF9uYW1lIjoiXHVjMFx1MTA1MiBcdTEwODAgXHUxMDgyIFx1MTA4NiBcdTEwODMgXHUxMDcyIFx1MTA4MSBcdTEwODYgXHUxMDc0IFx1MTA4MCBcdTEwOTUgIlwNCiAgICAgIFx9XA0KICAgXH0sXA0KICAgIm1zcCI6XHtcDQogICAgICAiaWQiOiJkMjkwZjFlZSIsXA0KICAgICAgIm5hbWUiOiJcdWMwXHUxMDUwIFx1MTA4MyBcdTExMTAgXHUxMDg1IFx1MTExMCBcdTEwODIgXHUxMDcyICBcdTEwNDEgXHUxMDg2IFx1MTA4OCBcdTEwODAgXHUxMDg5ICIsXA0KICAgICAgInNob3J0X05hbWUiOiJcdWMwXHUxMDQxIFx1MTA4NiBcdTEwODggXHUxMDgwIFx1MTA4OSAiLFwNCiAgICAgICJ0eXBlIjoiXHVjMFx1MTA2MCBcdTEwNTQgXHUxMDU1ICIsXA0KICAgICAgImVkcnBvdSI6IjU0MzIzNDU0MzIiXA0KICAgXH0sXA0KICAgInNjb3BlIjoiZmFtaWx5IGRvY3RvciIsXA0KICAgInBsYWludGV4dF9jb250ZW50IjoiRGVjbGFyYXRpb24gY29udGVudCJcDQpcfX2gggIuMIICKjCCAZOgAwIBAgIJANj0sC/v0hWYMA0GCSqGSIb3DQEBBQUAMBkxFzAVBgNVBAMUDlBLQ1MjNyBleGFtcGxlMB4XDTE3MDMyNzE0NTczM1oXDTE3MDQyNjE0NTczM1owGTEXMBUGA1UEAxQOUEtDUyM3IGV4YW1wbGUwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMuqrxE/0txT+ZVRKU1O85a8eaaUAOkbcAIy1mMoxQ+UBwcBeXt07Oxu32+p51HSY93Pp5AlDLKE48sjSNvMbTk5vtZ6g8sqMpZxlBVqHLkXLXYBMf2rmtE4hfV6yTP5YUJEs+a9cotsPN0r5KlI9g8aSpIj9Ie8mML5Vh1taQHNAgMBAAGjejB4MB0GA1UdDgQWBBTET2SwL5UfUMKDyhuBGCA+CaflnzBJBgNVHSMEQjBAgBTET2SwL5UfUMKDyhuBGCA+Cafln6EdpBswGTEXMBUGA1UEAxQOUEtDUyM3IGV4YW1wbGWCCQDY9LAv79IVmDAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAF1uOGjUb6IVS28UqZ2qLc/kd2oNU2hOEuAp1YeaKRL2OaG4bTubJO1ejoxCJNfVj0FFw5PXIgjnw87JzkAy5KLDTiotQl8eknkd1bR3nIWINemck3GeGYkR8giG3gkNxz6ky1+63ZcoJkEiS46aneDhmS6BdH0V2G/3delos8+ZMYIBgDCCAXwCAQEwJjAZMRcwFQYDVQQDFA5QS0NTIzcgZXhhbXBsZQIJANj0sC/v0hWYMAkGBSsOAwIaBQCggbEwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcwMzI4MTE1NDEwWjAjBgkqhkiG9w0BCQQxFgQU5NSvVRVYHz5tG1GW8gXrjHSnLj8wUgYJKoZIhvcNAQkPMUUwQzAKBggqhkiG9w0DBzAOBggqhkiG9w0DAgICAIAwDQYIKoZIhvcNAwICAUAwBwYFKw4DAgcwDQYIKoZIhvcNAwICASgwDQYJKoZIhvcNAQEBBQAEgYCdqnN8gGXw9OUmtxOvQQgHK5Ni/4/2WQWj7rxERh5AI6rhXs/hh3DNS5Z5mN6wO8z47SQuedbsMQ5hf6+9BbKhXD7WKeU+DtGyfa1ner5/ubz6BeVvuT98D4PrzHlqNSpe/7AirrA70QVO9kPoFSmGtBG6JjaqaCZBYbvF9InPRw==` (string, required)
        + `signed_content_encoding`: base64 (string, required)

+ Response 200 (application/json)
    + Attributes
        + meta (Response__Meta)
        + data (object, optional)
            + `signed_content`: `MIIWmAYJKoZIhvcNAQcCoIIWiTCCFoUCAQExCzAJBgUrDgMCGgUAMIISuwYJKoZIhvcNAQcBoIISrASCEqh7XHJ0ZjFcYW5zaVxhbnNpY3BnMTI1Mlxjb2NvYXJ0ZjE1MDRcY29jb2FzdWJydGY4MTANCntcZm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGljYTt9DQp7XGNvbG9ydGJsO1xyZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1NTtccmVkNzBcZ3JlZW41M1xibHVlOTY7XHJlZDI0OVxncmVlbjI0OVxibHVlMjUxO30NCntcKlxleHBhbmRlZGNvbG9ydGJsOztcY3NzcmdiXGMzNDUxMFxjMjc4NDNcYzQ1MDk4O1xjc3NyZ2JcYzk4MDM5XGM5ODAzOVxjOTg4MjQ7fQ0KXG1hcmdsMTQ0MFxtYXJncjE0NDBcdmlld3cxMDgwMFx2aWV3aDg0MDBcdmlld2tpbmQwDQpcZGVmdGFiNzIwDQpccGFyZFxwYXJkZWZ0YWI3MjBccGFydGlnaHRlbmZhY3RvcjANCg0KXGYwXGZzMjggXGNmMiBcY2IzIFxleHBuZDBcZXhwbmR0dzBca2VybmluZzANClx7XA0KICAgImlkIjoiYjA3NWYxNDgiLFwNCiAgICJzdGFydF9kYXRlIjoiMjAxNy0wMy0wMlQxMDo0NToxNi4wMDBaIixcDQogICAiZW5kX2RhdGUiOiIyMDE3LTAzLTAyVDEwOjQ1OjE2LjAwMFoiLFwNCiAgICJwZXJzb24iOlx7XA0KICAgICAgImZpcnN0X25hbWUiOiJcdWMwXHUxMDU1IFx1MTA3NyBcdTEwOTAgXHUxMDg4IFx1MTA4NiAiLFwNCiAgICAgICJsYXN0X25hbWUiOiJcdWMwXHUxMDMwIFx1MTA3NCBcdTEwNzIgXHUxMDg1IFx1MTA4NiBcdTEwNzQgIixcDQogICAgICAic2blic Vjb25kX25hbWUiOiJcdWMwXHUxMDUyIFx1MTA4MCBcdTEwODIgXHUxMDg2IFx1MTA4MyBcdTEwNzIgXHUxMDgxIFx1MTA4NiBcdTEwNzQgXHUxMDgwIFx1MTA5NSAiLFwNCiAgICAgICJiaXJ0aF9kYXRlIjoiMTk5MS0wOC0xOVQwMDowMDowMC4wMDBaIixcDQogICAgICAiYmlydGhfcGxhY2UiOiJcdWMwXHUxMDQyIFx1MTExMCBcdTEwODUgXHUxMDg1IFx1MTA4MCBcdTEwOTQgXHUxMTAzICwgXHUxMDU5IFx1MTA4MiBcdTEwODggXHUxMDcyIFx1MTExMSBcdTEwODUgXHUxMDcyICIsXA0KICAgICAgImdlbmRlciI6Ik1BTEUiLFwNCiAgICAgICJlbWFpbCI6ImVtYWlsQGV4YW1wbGUuY29tIixcDQogICAgICAidGF4X2lkIjoiMzEyNjUwOTgxNiIsXA0KICAgICAgIm5hdGlvbmFsX2lkIjoiQ0M3MTUwOTg1MjQzIixcDQogICAgICAic2VjcmV0Ijoic2VjcmV0IixcDQogICAgICAiZG9jdW1lbnRzIjpbXA0KICAgICAgICAgXHtcDQogICAgICAgICAgICAidHlwZSI6IlBBU1NQT1JUIixcDQogICAgICAgICAgICAibnVtYmVyIjoiMTIwNTE4IixcDQogICAgICAgICAgICAiaXNzdWVfZGF0ZSI6IjIwMTUtMDQtMDdUMDA6MDA6MDAuMDAwWiIsXA0KICAgICAgICAgICAgImV4cGlyeV9kYXRlIjoiMjAxNS0wNC0wN1QwMDowMDowMC4wMDBaIixcDQogICAgICAgICAgICAiaXNzdWVkX2J5IjoiRE1TVSJcDQogICAgICAgICBcfVwNCiAgICAgIF0sXA0KICAgICAgImFkZHJlc3NlcyI6W1wNCiAgICAgICAgIFx7XA0KICAgICAgICAgICAgInR5cGUiOiJSRVNJREVOQ0UiLFwNCiAgICAgICAgICAgICJjb3VudHJ5IjoiVUEiLFwNCiAgICAgICAgICAgICJhcmVhIjoiXHVjMFx1MTA0NiBcdTEwODAgXHUxMDkwIFx1MTA4NiBcdTEwODQgXHUxMDgwIFx1MTA4OCBcdTEwODkgXHUxMTAwIFx1MTA4MiBcdTEwNzIgIixcDQogICAgICAgICAgICAicmVnaW9uIjoiXHVjMFx1MTA0MSBcdTEwNzcgXHUxMDg4IFx1MTA3NiBcdTEwODAgXHUxMDk1IFx1MTExMCBcdTEwNzQgXHUxMDg5IFx1MTEwMCBcdTEwODIgXHUxMDgwIFx1MTA4MSAiLFwNCiAgICAgICAgICAgICJjaXR5IjoiXHVjMFx1MTA1MCBcdTEwODAgXHUxMTExIFx1MTA3NCAiLFwNCiAgICAgICAgICAgICJjaXR5X3R5cGUiOiJDSVRZIixcDQogICAgICAgICAgICAic3RyZWV0IjoiXHVjMFx1MTA3NCBcdTEwOTEgXHUxMDgzIC4gXHUxMDUzIFx1MTExMCBcdTEwNzggXHUxMDgwIFx1MTA4NSBcdTEwODkgXHUxMTAwIFx1MTA4MiBcdTEwNzIgIixcDQogICAgICAgICAgICAiYnVpbGRpbmciOiIxNSIsXA0KICAgICAgICAgICAgImFwYXJ0bWVudCI6IjIzIixcDQogICAgICAgICAgICAiemlwIjoiMDIwOTAiXA0KICAgICAgICAgXH1cDQogICAgICBdLFwNCiAgICAgICJwaG9uZXMiOltcDQogICAgICAgICBce1wNCiAgICAgICAgICAgICJ0eXBlIjoiTU9CSUxFIixcDQogICAgICAgICAgICAibnVtYmVyIjoiKzM4MDUwMzQxMDg3MCJcDQogICAgICAgICBcfVwNCiAgICAgIF0sXA0KICAgICAgImF1dGhlbnRpY2F0aW9uX21ldGhvZHMiOltcDQogICAgICAgICBce1wNCiAgICAgICAgICAgICJ0eXBlIjoiU01TIixcDQogICAgICAgICAgICAicGhvbmVfbnVtYmVyIjoiKzM4MDUwODg4NzcwMCJcDQogICAgICAgICBcfVwNCiAgICAgIF0sXA0KICAgICAgImVtZXJnZW5jeV9jb250YWN0Ijpce1wNCiAgICAgICAgICJmaXJzdF9uYW1lIjoiXHVjMFx1MTA1NSBcdTEwNzcgXHUxMDkwIFx1MTA4OCBcdTEwODYgIixcDQogICAgICAgICAibGFzdF9uYW1lIjoiXHVjMFx1MTAzMCBcdTEwNzQgXHUxMDcyIFx1MTA4NSBcdTEwODYgXHUxMDc0ICIsXA0KICAgICAgICAgInNlY29uZF9uYW1lIjoiXHVjMFx1MTA1MiBcdTEwODAgXHUxMDgyIFx1MTA4NiBcdTEwODMgXHUxMDcyIFx1MTA4MSBcdTEwODYgXHUxMDc0IFx1MTA4MCBcdTEwOTUgIixcDQogICAgICAgICAicGhvbmVzIjpbXA0KICAgICAgICAgICAgXHtcDQogICAgICAgICAgICAgICAidHlwZSI6Ik1PQklMRSIsXA0KICAgICAgICAgICAgICAgIm51bWJlciI6IiszODA1MDM0MTA4NzAiXA0KICAgICAgICAgICAgXH1cDQogICAgICAgICBdXA0KICAgICAgXH0sXA0KICAgICAgImNvbmZpZGFudF9wZXJzb24iOlx7XA0KICAgICAgICAgInJlbGF0aW9uX3R5cGUiOiJ0cnVzdGVlIixcDQogICAgICAgICAiZmlyc3RfbmFtZSI6Ilx1YzBcdTEwNTUgXHUxMDc3IFx1MTA5MCBcdTEwODggXHUxMDg2ICIsXA0KICAgICAgICAgImxhc3RfbmFtZSI6Ilx1YzBcdTEwMzAgXHUxMDc0IFx1MTA3MiBcdTEwODUgXHUxMDg2IFx1MTA3NCAiLFwNCiAgICAgICAgICJzZWNvbmRfbmFtZSI6Ilx1YzBcdTEwNTIgXHUxMDgwIFx1MTA4MiBcdTEwODYgXHUxMDgzIFx1MTA3MiBcdTEwODEgXHUxMDg2IFx1MTA3NCBcdTEwODAgXHUxMDk1ICIsXA0KICAgICAgICAgImJpcnRoX2RhdGUiOiIxOTkxLTA4LTE5VDAwOjAwOjAwLjAwMFoiLFwNCiAgICAgICAgICJiaXJ0aF9wbGFjZSI6Ilx1YzBcdTEwNDIgXHUxMTEwIFx1MTA4NSBcdTEwODUgXHUxMDgwIFx1MTA5NCBcdTExMDMgLCBcdTEwNTkgXHUxMDgyIFx1MTA4OCBcdTEwNzIgXHUxMTExIFx1MTA4NSBcdTEwNzIgIixcDQogICAgICAgICAiZ2VuZGVyIjoiTUFMRSIsXA0KICAgICAgICAgInRheF9pZCI6IjMxMjY1MDk4MTYiLFwNCiAgICAgICAgICJkb2N1bWVudHMiOltcDQogICAgICAgICAgICBce1wNCiAgICAgICAgICAgICAgICJ0eXBlIjoiUEFTU1BPUlQiLFwNCiAgICAgICAgICAgICAgICJudW1iZXIiOiIxMjA1MTgiLFwNCiAgICAgICAgICAgICAgICJpc3N1ZV9kYXRlIjoiMjAxNS0wNC0wN1QwMDowMDowMC4wMDBaIixcDQogICAgICAgICAgICAgICAiZXhwaXJ5X2RhdGUiOiIyMDE1LTA0LTA3VDAwOjAwOjAwLjAwMFoiLFwNCiAgICAgICAgICAgICAgICJpc3N1ZWRfYnkiOiJETVNVIlwNCiAgICAgICAgICAgIFx9XA0KICAgICAgICAgXSxcDQogICAgICAgICAicGhvbmVzIjpbXA0KICAgICAgICAgICAgXHtcDQogICAgICAgICAgICAgICAidHlwZSI6Ik1PQklMRSIsXA0KICAgICAgICAgICAgICAgIm51bWJlciI6IiszODA1MDM0MTA4NzAiXA0KICAgICAgICAgICAgXH1cDQogICAgICAgICBdXA0KICAgICAgXH0sXA0KICAgICAgInJlbmV3YWxfY29uc2VudCI6dHJ1ZSxcDQogICAgICAicGF0aWVudF9zaWduZWQiOnRydWUsXA0KICAgICAgImRpc2Nsb3N1cmVfY29uc2VudCI6dHJ1ZSxcDQogICAgICAicHJvY2Vzc19kYXRhX2NvbnNlbnQiOnRydWVcDQogICBcfSxcDQogICAiZW1wbG95ZWUiOlx7XA0KICAgICAgImlkIjoiZDI5MGYxZWUtNmM1NC00YjAxLTkwZTYtZDcwMTc0OGYwODUxIixcDQogICAgICAidGl0bGUiOiJcdWMwXHUxMDgzIFx1MTExMCBcdTEwODIgXHUxMDcyIFx1MTA4OCAiLFwNCiAgICAgICJwYXJ0eSI6XHtcDQogICAgICAgICAiaWQiOiJiMDc1ZjE0OC03ZjkzLTRmYzItYjJlYy0yZDgxYjE5YTliN2IiLFwNCiAgICAgICAgICJmaXJzdF9uYW1lIjoiXHVjMFx1MTA1NSBcdTEwNzcgXHUxMDkwIFx1MTA4OCBcdTEwODYgIixcDQogICAgICAgICAibGFzdF9uYW1lIjoiXHVjMFx1MTAzMCBcdTEwNzQgXHUxMDcyIFx1MTA4NSBcdTEwODYgXHUxMDc0ICIsXA0KICAgICAgICAgInNlY29uZF9uYW1lIjoiXHVjMFx1MTA1MiBcdTEwODAgXHUxMDgyIFx1MTA4NiBcdTEwODMgXHUxMDcyIFx1MTA4MSBcdTEwODYgXHUxMDc0IFx1MTA4MCBcdTEwOTUgIlwNCiAgICAgIFx9XA0KICAgXH0sXA0KICAgIm1zcCI6XHtcDQogICAgICAiaWQiOiJkMjkwZjFlZSIsXA0KICAgICAgIm5hbWUiOiJcdWMwXHUxMDUwIFx1MTA4MyBcdTExMTAgXHUxMDg1IFx1MTExMCBcdTEwODIgXHUxMDcyICBcdTEwNDEgXHUxMDg2IFx1MTA4OCBcdTEwODAgXHUxMDg5ICIsXA0KICAgICAgInNob3J0X05hbWUiOiJcdWMwXHUxMDQxIFx1MTA4NiBcdTEwODggXHUxMDgwIFx1MTA4OSAiLFwNCiAgICAgICJ0eXBlIjoiXHVjMFx1MTA2MCBcdTEwNTQgXHUxMDU1ICIsXA0KICAgICAgImVkcnBvdSI6IjU0MzIzNDU0MzIiXA0KICAgXH0sXA0KICAgInNjb3BlIjoiZmFtaWx5IGRvY3RvciIsXA0KICAgInBsYWludGV4dF9jb250ZW50IjoiRGVjbGFyYXRpb24gY29udGVudCJcDQpcfX2gggIuMIICKjCCAZOgAwIBAgIJANj0sC/v0hWYMA0GCSqGSIb3DQEBBQUAMBkxFzAVBgNVBAMUDlBLQ1MjNyBleGFtcGxlMB4XDTE3MDMyNzE0NTczM1oXDTE3MDQyNjE0NTczM1owGTEXMBUGA1UEAxQOUEtDUyM3IGV4YW1wbGUwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMuqrxE/0txT+ZVRKU1O85a8eaaUAOkbcAIy1mMoxQ+UBwcBeXt07Oxu32+p51HSY93Pp5AlDLKE48sjSNvMbTk5vtZ6g8sqMpZxlBVqHLkXLXYBMf2rmtE4hfV6yTP5YUJEs+a9cotsPN0r5KlI9g8aSpIj9Ie8mML5Vh1taQHNAgMBAAGjejB4MB0GA1UdDgQWBBTET2SwL5UfUMKDyhuBGCA+CaflnzBJBgNVHSMEQjBAgBTET2SwL5UfUMKDyhuBGCA+Cafln6EdpBswGTEXMBUGA1UEAxQOUEtDUyM3IGV4YW1wbGWCCQDY9LAv79IVmDAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAF1uOGjUb6IVS28UqZ2qLc/kd2oNU2hOEuAp1YeaKRL2OaG4bTubJO1ejoxCJNfVj0FFw5PXIgjnw87JzkAy5KLDTiotQl8eknkd1bR3nIWINemck3GeGYkR8giG3gkNxz6ky1+63ZcoJkEiS46aneDhmS6BdH0V2G/3delos8+ZMYIBgDCCAXwCAQEwJjAZMRcwFQYDVQQDFA5QS0NTIzcgZXhhbXBsZQIJANj0sC/v0hWYMAkGBSsOAwIaBQCggbEwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcwMzI4MTE1NDEwWjAjBgkqhkiG9w0BCQQxFgQU5NSvVRVYHz5tG1GW8gXrjHSnLj8wUgYJKoZIhvcNAQkPMUUwQzAKBggqhkiG9w0DBzAOBggqhkiG9w0DAgICAIAwDQYIKoZIhvcNAwICAUAwBwYFKw4DAgcwDQYIKoZIhvcNAwICASgwDQYJKoZIhvcNAQEBBQAEgYCdqnN8gGXw9OUmtxOvQQgHK5Ni/4/2WQWj7rxERh5AI6rhXs/hh3DNS5Z5mN6wO8z47SQuedbsMQ5hf6+9BbKhXD7WKeU+DtGyfa1ner5/ubz6BeVvuT98D4PrzHlqNSpe/7AirrA70QVO9kPoFSmGtBG6JjaqaCZBYbvF9InPRw==` (string, required)
            + `signed_content_encoding`: base64 (string, required)
            + One of
                + content (Declaration_Details, optional)
                + content (`Employee_Request_Details`, optional)
            + is_valid: true (boolean, required) - Operation result. True - verification success, False - verification failed.
            + signer (object, required) - Certificate content. Contains any available signed data extracted from P7 file.
                + common_name: `Тестовий Користувач Один` (string, optional)
                + country_name: `UA` (string, optional)
                + surname: `Один` (string, optional)
                + given_name: `Користувач Один` (string, optional)
                + organization_name: `Лiкарня №1` (string, optional)
                + state_or_province_name: `Київська` (string, optional)
                + locality_name: `Київ` (string, optional)
                + organzational_unit_name: `Тест` (string, optional)
                + title: `Тест` (string, optional)
                + edrpou: `3323102854` (string, optional)
                + drfo: `3323102854` (string, optional)

# Group Internal. NHS Admin

## Verification [/nhs_admin]

### Get Declarations List [GET /nhs_admin/declarations{?status,page,page_size}]

Methods returns list of declarations by combination of patient_id, doctor_id, msp_id.

Response will contain only records that you have access to.

+ Parameters
    + status: active (text, optional) - Search only for active or disabled declarations.
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`nhs_declaration_list`])


### Get Declaration Details by ID [GET /nhs_admin/declarations/{id}]

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (`nhs_declaration`)

## Innms [/innms]
### Create innm [POST]
This method is used to create new innm. Fields descriptions are listed in request Example view.

**Scopes required:** `innm:write`

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
       + include `Innm_Request`

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + include `Innm_Response`

+ Response 409 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 409
        + error
            + type: duplicate (string, required)
            + message: `innm duplicate` (string, required)

### Get innm by id [GET /innms/{id}]
Method returns innms details by ID.

**Scopes required:** `innm:read`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `Innm_Response`

### Get Innms List [GET /innms{?id,sctid,name,name_original,page,page_size}]

Use this method to obtain list of Innms. If you want to reduce amount of data that is going trough your application, use filter and show only innms is interested in current UI section.

**Scopes required:** `innm:read`

+ Parameters
    + `id`: `7124259c-eeb1-4cbb-acac-ada2162675d1` (string, optional) - Innm Identifier.
    + `sctid`: `52574003` (string, optional) - Innm CNOMED code.
    + `name`: `Аміодарон` (string, optional) - Innm local name.
    + `name_original`: `Amiodarone` (string, optional) - Innm original name.
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`Innm_Response_Short`]) 


## INNM Dosages [/innm_dosages] 

### Create INNM Dosage [POST]
This method is used to create INNM Dosage. Fields descriptions are listed in request Example view.

**Scopes required:** `innm_dosage:write`

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
       + include (`INNM_Dosage_Request`, required) 

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + include `INNM_Dosage_Response`

+ Response 422 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 422
        + error
            + type: unverified (string, required)
            + message: `Property "is_active" has not been defined and the schema does not allow additional properties!` (string, required)

### Deactivate INNM Dosage [PATCH /innm_dosages/{id}/actions/deactivate]
This method is used to deactivate INNM Dosage. Fields descriptions are listed in request Example view.

**Scopes required:** `innm_dosage:deactivate`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `INNM_Dosage_Response`

+ Response 422 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 422
        + error
            + type: unverified (string, required)
            + message: `Can't deactivate innm dosage. Exist active linked brand!` (string, required)

### Get INNM Dosage by id [GET /innm_dosages/{id}]
Method returns INNM Dosage details by ID.

**Scopes required:** `innm_dosage:read`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `INNM_Dosage_Response`

### Get INNM Dosage List [GET /innm_dosages{?id,name,form,page,page_size}]

Use this method to obtain list of INNM Dosage. If you want to reduce amount of data that is going trough your application, use filter and show only INNMs is interested in current UI section.

**Scopes required:** `innm_dosage:read`

+ Parameters
    + `id`: `7124259c-eeb1-4cbb-acac-ada2162675d1` (string, optional) - `INNM Dosage Identifier.`
    + `name`: `Аміодарон` (string, optional) - `Innm local name.`
    + `form`:  `PILL` (string, required) - `Dictionary MEDICATION_FORM`
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`INNM_Dosage_Response_Short`]) 

## Medications [/medications] 

### Create Medication [POST]
This method is used to create Medications. Fields descriptions are listed in request Example view.

**Scopes required:** `medication:write`

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
       + include (`Medication_Request`, required) 

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + include `Medication_Response`

+ Response 422 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 422
        + error
            + type: unverified (string, required)
            + message: `Denumerator unit from Dosage ingredients must be is equal Numerator unit from Container medication!` (string, required)

### Deactivate Medication [PATCH /medications/{id}/actions/deactivate]
This method is used to deactivate Medication. Fields descriptions are listed in request Example view.

**Scopes required:** `medication:deactivate`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `Medication_Response`

+ Response 422 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 422
        + error
            + type: unverified (string, required)
            + message: `Can't deactivate medication. Exist active linked participant (programs medications)!` (string, required)

### Get Medication by id [GET /medications/{id}]
Method returns Medication details by ID.

**Scopes required:** `medication:read`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `Medication_Response`

### Get Medications List [GET /medications{?id,innm_dosage_id,name,innm_dosage_name,form,page,page_size}]

Use this method to obtain list of Medications. If you want to reduce amount of data that is going trough your application, use filter and show only Medications is interested in current UI section.

**Scopes required:** `medication:read`

+ Parameters
    + `id`: `7124259c-eeb1-4cbb-acac-ada2162675d1` (string, optional) - `Medication Identifier.`
    + `innm_dosage_id`: `5052fcaf-58a0-461b-9e98-d60243a1773e` (string, optional) - `INNM Identifier.`
    + `name`: `Аритміл` (string, optional) - `Medication name.`
    + `innm_dosage_name`: `Аміодарон` (string, optional) - `INNM name.`
    + `form`:  `PILL` (string, required) - `Dictionary MEDICATION_FORM`
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
     + Attributes (`Response_Collection_V2`)
       + data (array[`Medication_Response_Short`])

## Medical programs [/medical_programs]

### Create medical program [POST]
This method is used by NHS admin to create new medical program.

**Scopes required:** `medical_program:write`

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
       + include `medical_programs_request`

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + include `medical_programs_response`


### Deactivate medical program [PATCH /api/medical_programs/{id}/actions/deactivate]
This method is used by NHS Admin to deactivate medical program.
Medical program can't be deactivate if there is at least one participant in the program.

**Scopes required:** `medical_program:deactivate`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `medical_programs_response`

+ Response 409 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 409
        + error
            + message: `Forbidden to deactivate medical program. Medical program has active participants` (string, required)

### Get medical programs list [GET /api/medical_programs{?id,name,is_active,page,page_size}]
Method returns list of medical programs filtering by parameters. By default method returns only active medical programs `is_active=true` 

**Scopes required:** `medical_program:read`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - Medical program identifier
    + `name`: `Доступні ліки` (string, optional) - Name of the Medical program
    + `is_active`: `true` (boolean, optional) - Is medical program active or not. Default: true
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + meta (Response__Meta)
        + data (array[`medical_programs_response`])

### Get medical program by id [GET /api/medical_programs/{id}]
Method returns medical programs details by ID.

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `medical_programs_response`

## Program medications [/program_medications]

### Create Program medication [POST]
This method is used to create new participant of a program - to link exsiting active medication to exsiting active program. Fields descriptions are listed in request Example view.
**Scopes required:** `program_medication:write`

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
       + include (`Program_medications_Request`, required) 

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + include `Program_medications_Response`

+ Response 409 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 409
        + error
            + type: duplicate (string, required)
            + message: `Current medication is already the participant of this program` (string, required)

+ Response 422 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 422
        + error
            + type: unverified (string, required)
            + message: `This program is inactive` (string, required)

### Update Program medication [PUT /program_medications/{id}]
This method is used to update flags "is_active" and/or "medication_request_allowed" for Medication within Medical_program. Fields descriptions are listed in request Example view.
**Scopes required:** `program_medication:write`

+ Parameters
    + id: `b3af52d9-e5c0-4876-b717-0dc954a69a28` (string, required) - Record id

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
       + include (`Program_medications_Update_Request`, required)

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `Program_medications_Response`

+ Response 409 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 409
        + error
            + type: unverified (string, required)
            + message: `Medications are already inactive in this program` (string, required)

### Get Program medication list [GET /program_medications{?id,medical_program_id,medical_program_name,innm_dosage_id,innm_dosage_name,medication_id,medication_name,page,page_size}]
Method returns list of participants(medications) of medical programs filtering by parameters.  

**Scopes required:** `program_medication:read`

+ Parameters
    + `id`: `7124259c-eeb1-4cbb-acac-ada2162675d1` (string, optional) - Program_medications Identifier (medication within the program)
    + `medical_program_id`: `042a3b20-bb08-4e50-83ee-ef23c3b1c0c8` (string, optional) - medical program identifier
    + `medical_program_name`: `Доступні ліки` (string, optional) - medical program name
    + `innm_dosage_id`: `5052fcaf-58a0-461b-9e98-d60243a1773e` (string, optional) - INNM dosage Identifier
    + `innm_dosage_name`: `Артитміл 5 мг` (string, optional) - INNM dosage name
    + `medication_id`:  `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - Medication Identifier.
    + `medication_name`: `Аритміл` (string, optional) - Medication name.
    + `page`: 2 (number) - Page number.    
    + `page_size`: 50 (number) - A limit on the number of objects to be returned, between 1 and 100. Default: 50


+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + meta (Response__Meta)
        + data (array[`Program_medications_Response`])

### Get Program medication by id [GET /program_medications/{id}]
Method returns participants(medications) of medical programs details by ID.

**Scopes required:** `program_medication:read`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `Program_medications_Response`

## Black list users [/black_list_users]

### Create Black list user [POST]
This method is used to add tax_id to black list. Fields descriptions are listed in request Example view.
**Scopes required:** `bl_user:write`

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
       + include (`Black_list_user_Request`, required) 

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + include `Black_list_user_Response`

### Deactivate Black list user [PATCH /api/black_list_users/{id}/actions/deactivate]

This method is used by NHS Admin to deactivate user in black list.

**Scopes required:** `bl_user:deactivate`

+ Parameters
    + `id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `Black_list_user_Response`

+ Response 409 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 409
        + error
            + message: `User is not in a black list` (string, required)

### Get Black list user list [GET /black_list_users{?id,tax_id,is_active,page,page_size}]
Method returns list of participants(medications) of medical programs filtered by parameters.  

**Scopes required:** `bl_user:read`

+ Parameters
    + `id`: `7124259c-eeb1-4cbb-acac-ada2162675d1` (string, optional) - Black list user Identifier 
    + `tax_id`: `3126509816` (string, optional) - tax_id by party_id 
    + `is_active`: `true` (string, optional) - medical program name
    + `page`: 2 (number) - Page number.    
    + `page_size`: 50 (number) - A limit on the number of objects to be returned, between 1 and 100. Default: 50


+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + meta (Response__Meta)
        + data (array[`Black_list_user_Response`])

## Party users [/party_users]

### Get Party users list [GET /party_users{?user_id,party_id,page,page_size}]
Method returns list of user_id(s) by party_id(s) filtered by parameters.  

**Scopes required:** `party_user:read`

+ Parameters
    + `user_id`: `09106b70-18b0-4726-b0ed-6bda1369fd52` (string, optional) - user Identifier
    + `party_id`: `79a91507-d409-49fc-b373-934b59c4f694` (string, optional) - Party Identifier
    + `page`: 2 (number) - Page number.    
    + `page_size`: 50 (number) - A limit on the number of objects to be returned, between 1 and 100. Default: 50


+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + meta (Response__Meta)
        + data (array[`Party_user_Response`])

## Uploading and processing registers [/registers]

### Post Registers [POST /api/registers]
Method allows NHS admin to upload and save files with registers

**Scopes required:** `register:write`

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
    
    + Attributes (object)
       + `file`: `Base64 encoded csv file` (string, required)
       + `file_name`: `deaths.csv` (string, required)
       + `type`: `death_registration` (string, required)
       + `reason_description`: `Реєстр смертності за 01-31.01.2018` (string, optional)
       
+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
        + data (object)
            + include `Registers_response`

### Get Registers list [GET /registers{?id,status,file_name,type,date_from,date_to,page,page_size}]
Method returns list of files which were uploaded with statistics.  

+ Parameters
    + `id`: `09106b70-18b0-4726-b0ed-6bda1369fd52` (string, optional) 
    + `status`: processing (string, optional)
    + `file_name`: `November 2018 Kyiv region` (string, optional)
    + `type`: `death_registration` (string, optional)
    + `date_from`: 2017-10-01` (string, optional)
    + `date_to`: `2017-10-30` (string, optional)
    + `page`: 2 (number) - Page number.    
    + `page_size`: 50 (number) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + meta (Response__Meta)
        + data (array[`Registers_list_response`])

### Get Register entries  list [GET /register_entries{?id,register_id,status,date_from,date_to,tax_id,national_id,passport,birth_certificate,temporary_certificate,page,page_size}]
Method returns list of records from each uploaded file with status.  


+ Parameters
    + `id`: `09106b70-18b0-4726-b0ed-6bda1369fd52` (string, optional)
    + `register_id`: `09106b70-18b0-4726-b0ed-6bda1369fd62` (string, optional)
    + `status`: `not_found` (string, optional)
    + `date_from`: 2017-10-01` (string, optional)
    + `date_to`: `2017-10-30` (string, optional)
    + `tax_id`: `3028106992` (string, optional)
    + `national_id`: `123456789` (string, optional)
    + `passport`: `СМ123456` (string, optional)
    + `birth_certificate`: `СМ123456` (string, optional)
    + `temporary_certificate`: `12345678` (string, optional)
    + `page`: 2 (number) - Page number.    
    + `page_size`: 50 (number) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + meta (Response__Meta)
        + data (array[`Register_entries_list_response`])

# Group Internal. Gandalf

## Gandalf [/api.gndf.io/api]

### Authentication method decision [POST /v1/tables/58f62b96e79e8521f51b5754/decisions]

Method checks request with rules in AuthMethod table, and returns decision based on processed steps.

+ Request (application/json)

    + Headers
    
            X-Application: 58eca20fe79e8563e803dc18
            Authorization: Basic YmJlMGUxMGFkMTc4ZTBlMGY3MmM1Nzg4NjU0ZTQ1MDkwNTFhYjAzMzpmODQ4ZTIyNjFiYWM4M2EzZjhkMjM4ODc4NzUxOWMxZTQzZjViYjAx

    + Attributes
        + phone_availability: true (boolean, required)
        + preferable_auth_method: `OTP_TRUSTEE` (string, required)

+ Response 200 (application/json)
    + Attributes
        + meta (object, required)
            + code: 200 (number, required)
        + data (object, optional)
            + _id:`58f70df5e79e8521f451dcf0` (string, required)
            + table (object, required)
                + _id: `58f62b96e79e8521f51b5754` (string, required) - table UUID
                + title: `AuthMethod` (string, required) - table name
                + description: `Authentication method decision` (string, required)
                + matching_type: `decision` (string, required) - table type: decision/scoring
                + variant (object, required)
                    + _id: `58f62b96e79e8521f51b5753` (string, required)
                    + title: `AuthMethod` (string, required)
                    + description: `Authentication method decision` (string, required)
            + application: `58eca20fe79e8563e803dc18` (string, required) - application UUID
            + title: `method is OTP_TRUSTEE` (string, required) - final decision title
            + description: `Phone available and method OTP_TRUSTEE` (string, required) - final decision description
            + `final_decision`: `OTP_TRUSTEE` (string, required) - final decision
            + request (object, required)
                + phone_availability: true (boolean, required)
                + preferable_auth_method: `OTP_TRUSTEE` (string, required)
            + created_at: `2017-04-19T07:12:53+0000` (string, required) - date created at
            + updated_at: `2017-04-19T07:12:53+0000` (string, required) - date updated at

# Group Public. Medical Service Provider Integration Layer

## oAuth [/api/oauth]

1. Client UI: redirects user to Login UI with `client_id`, `redirect_uri` and `response_type=code` query params;
2. Login UI: completes [Session]() auth flow with `apps:create` scope;
3. Login UI: renders page with Approval (which lists requested scopes);
4. User: approves scopes;
5. Login UI: sends `POST /apps` request and redirects user to location returned in `Location` header;
6. Client: exchanges `code` from query parameters to an `access_token` by sending `POST /tokens` request with `grant_type=authorization_code`.
7. Client Back-End: stores `refresh_token` (in back-end!) and sends `access_token` to Client UI;
8. Client UI: stores `access_token` (in local storage, cookie, etc.) and makes all future requests with `Auhtorization: Bearer <access_token>` header.

**Notes:**
- If User already has approval with insufficient scopes, all steps are required, but Login UI MAY render page that shows only newly added scopes.
- When `access_token` expires, Client repeats steps 6-8 but via `grant_type=refresh_token`.

**API-key:**
- For identifiers MIS clients (as a brocker) we use term API-key. MIS must be **mandatory** send API-key when called e-Health API. 
- API-key its a `client_secret` - Medical Information System secret key issued upon integration request.
- API-key dispatched in Request HEADER as a `API-key` attribute. Example: 
```
HEADERS
Content-Type:application/json
Authorization:Bearer mF_9.B5f-4.1JqM
API-key:uXhEczJ56adsfh3Ri9SUkc4en
```
- If MIS don't send API-key in Request HEADER, API return 401 error wih message "API-KEY header required".


**Sequence Diagram**

![oAuth Sequence](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgb0F1dGggRmxvdwoKQ2xpZW50IC0-IExvZ2luIFVJOiByZWRpcmVjdCB0bwANCSB3aXRoIGBjACoFX2lkYCwgYAAgCF91cmlgIGFuZCBgcmVzcG9uc2VfdHlwZT1jb2RlYCBxdWVyeSBwYXJhbXMKAEcJAGUNY29tcGxldGUgU2Vzc2lvbiBhdXRoIGZsb3cAJA1Vc2VyOiByZW5kZXIgcGFnZQCBEAZBcHByb3ZhbCAod2hpY2ggbGlzdHMgcmVxdWVzdGVkIHNjb3BlcykKVXNlcgCBXA5hADUFZQAbBwCBEA0Agh8FU2VydmVyOiBzZW5kIGBQT1NUIC9hcHBzYABWCAoAHAsAgjcOSFRUUCAyMDEsAIEVCmFuZCBMb2NhdGlvbiBoZWFkZXIAggMNAIMGBgCCdQt1c2VyIHRvIHVybCByZXR1cm5lZCBpbiBgAD4IYAA_CACDPQoAgSYSAIExBnRva2Vucz9ncmFudACDGAZhdXRob3JpegCBCwVfY29kZSAtIGV4Y2hhbmdlIGAAgzcGZnJvbQCDNgxldGVycyB0byBhbiBgYWNjZXNzXwBWBWAAgXsQAIIzDnRvcmUgcmVmcmVzaCAAgQcFAIIrEACBdggAJQZgACUHAFYHIChpbiBiYWNrLWVuZCEpAIRoBQCDDwYAdw0gdG8Agj8HIFVJCm5vdGUgb3ZlcgBMEAAmDihpbiBsb2NhbACBIQVhZ2UsIGNvb2tpZSwgZXRjLgBnBm1ha2VzIGFsbCBmdXR1AIFHBQCEWgVzAIYSB0F1aHQAgkQJOiBCZWFyZXIgPACCFgw-AIMlCQo&s=modern-blue)

### Show Login UI [GET /sign-in{?client_id,redirect_uri,scope,email}]

**Attention!**
Use following HOSTs for oAuth 2.0 Authentication

Env     | Host
--------|-----
DEMO    | http://auth.demo.ehealth.world
PREPROD | https://auth.ehealth.world
PROD    | https://auth.ehealth-ukraine.org

You MUST redirect your users to this URL to obtain oAuth Code Grant (which is later exchanged to Access Token).

User will see rendered login page, which structure differ by a list of requested scopes and security measures applied by DevOps team.

For security purposes, we will set `X-Frame-Options: deny` header that will disallow opening this page in an iframe.

+ Parameters
    + `client_id`: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string, required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
    + `redirect_uri`: http://example.com/ (string, required) - URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
    + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string, required) - List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.
    + email: email@example.com

+ Response 200 (text/html; charset=UTF-8)

    + Headers

            X-CSRF-Token: my-csrf-token

### Exchange oAuth Code Grant to Access Token [POST /oauth/tokens]

After obtaining oAuth Code Grant, it should be exchanged to an `access_token` **on your back-end**. 

General recommendations:

- Never expose `client_secret` to your front-end.
- Also we recommend to avoid pushing it to the application source code, to limit number of developers that have access to it.

Exposed client credentials may be blocked for a security reasons, you will need to contact administrator to receive a new credentials.

+ Request (application/json)

    + Headers

            X-CSRF-Token: my-csrf-token

    + Attributes (object)
        + token (object)
            + client_id: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string, required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
            + client_secret: `msp-001-secret-key` (string, required) - Medical Information System secret key issued upon integration request. Used to identify application developer.
            + code: 299383828 (string, required) - oAuth code grant.
            + `grant_type`: authorization_code (string, fixed, required) - oAuth Grant Type. Currently only `authorization_code` is supported.
            + redirect_uri: http://example.com/ (string, required) - URL where user will be redirected after authentification. This url will receive `code` and `state` parameters in query string.
            + scope: `capitation_contracts:view capitation_contracts:create patients:view patients:create` (string, required) - List of scopes that is required in application business logic, separated by space. Different login forms will be shown based on scopes that you requested.

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Access_Token)

### Use Refresh Token for Access Token extension [POST /api/oauth/tokens]

Currently `access_token` and `refresh_token` are configured to have same lifetime, so we don't expect you to refresh it. 

In future, you will be able to refresh access tokens to extend `access_token` lifetime.

+ Request (application/json)

    + Headers

            X-CSRF-Token: my-csrf-token
            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
        + token (object)
            + client_id: `6498d88e-97fb-47e2-85a5-99e884f888aa` (string, required) - Medical Service provider ID issued after legal_entity registration. Used to identify the context of the MSP/Pharmacy.
            + client_secret: `msp-001-secret-key` (string, required) - Medical Service provider secret key issued upon integration request. Used to identify MSP.
            + refresh_token: `my-oauth-refresh-token` (string, required) - oAuth refresh token.
            + `grant_type`: refresh_token (string, fixed) - oAuth Grant Type. Currently only `authorization_code` is supported.

+ Response 201 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (Access_Token)

## Dictionaries [/api/dictionaries]

Method is used to retreive eHealth dictionaries

Response **$.data** object contains a list of all dictionaries. 

Each dictionary is an object that contains *{key}*:*{value}* pairs where:
* ***{key}*** is a dictionary record
* ***{value}*** is a dictionary record description

### Get dictionaries [GET]

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (array[`Dictionary`])

## OTP Verification [/api/verifications]

Method is used to verify that provided in declarartion request phone number is valid and is in service

### Initialize OTP Verification [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
    
    + Attributes (object)
        + `phone_number`: `+380508887700` (string, required)

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (OTP)

### Complete OTP Verification [PATCH /api/verifications/{phone_number}/actions/complete]

+ Parameters
    + `phone_number`: `+380508887700` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
    
    + Attributes (object)
        + code: 3782 (number)

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (OTP)

### Find Verifications by Phone Number [GET /api/verifications/{phone_number}]

+ Parameters
    + `phone_number`: `+380508887700` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + data (Response_verification_by_phone)

## Declaration Requests [/api/declaration_requests]

[Declaration Request]() is a life-cycle entity that is used to perform operations on [Declarations]().

After declaration request is signed and/or verified (depends on verification logic) it will be automatically moved to [Declarations]().

### Get Declaration Requests List [GET /api/declaration_requests{?employee_id,legal_entity_id,status,page,page_size}]

Use this method to obrain list of Declaration Requests for an `empolee_id`. If you want to reduce amount of data that is going trough your application, use `status` filter and show only requests that Doctor is interested in current UI section.

Also we suggest use `employee_id` and `legal_entity_id` to make sure that end-user understands context of actions that he or she will perform.

Method returns shortened details, to obtain full information - get Declaration Request it by it's ID.

+ Parameters
    + `employee_id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - user_id of a doctor.
    + `legal_entity_id`: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, optional) - MSP ID.
    + status: active (enum, optional)
        - NEW
        - APPROVED
        - SIGNED
        - CANCELLED
    + page: 2 (number, optional) - Page number.
    + page_size: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (`Response_Collection_V2`)
        + data (array[`Declaration_Request_Short`])

### Get Declaration Request by ID [GET /api/declaration_requests/{id}]

+ Parameters
    + id: `d290f1ee-6c54-4b01-90e6-d701748f0851` (string, required) - request identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + status: SIGNED (enum, optional)
                - NEW
                - APPROVED
                - SIGNED
                - CANCELLED
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + include `Declaration_Request_Public_Response`
            + employee (Employee_Minimal)
            + `legal_entity` (`Medical_Service_Provider`)
                + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + division (`Division_Details`)
            + content: `Declaration content` (string, required) - HTML document that MUST be shown to a  - Should be defined on the client side.end-user and signed by hes key.
            + seed: hash (string, required) - Hash of previous block in declarations chain or other random component that should be signed with declaration.
        + urgent (object, required)
            + `authentication_method_current` (object, required)
                + type: `OTP` (enum, required)
                    - OTP
                    - OFFLINE
                    - NA
                + number: `+38093*****85` (string, required)
            + documents (array[`media_content`], optional)

### Create Declaration Request [POST]

This method is used to create Declaration Request (as part of Declaration creation process). Fields descriptions are listed in request Example view.

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
        + `declaration_request` (Declaration_Request_Public)

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + seed: hash (string, required)
            + include `Declaration_Request_Public_Response`
            + status: `NEW` (string, required)
            + employee (Employee_Minimal, required)
            + `legal_entity` (`Medical_Service_Provider`, required)
                + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + division (`Division_Details`, required)
            + content: `Declaration content` (string, required) - HTML document that MUST be shown to a  - Should be defined on the client side.end-user and signed by hes key.
        + urgent (object, required)
            + `authentication_method_current` (object, required)
                + type: `OTP` (enum, required)
                    - OTP
                    - OFFLINE
                    - NA
                + number: `+38093*****85` (string, required)
            + documents (array[`media_content`], optional)

+ Response 422 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 422
        + error
            + type: unverified (string, required)
            + message: `Unverified phone number` (string, required)

### Approve Declaration Request [PATCH /api/declaration_requests/{id}/actions/approve]

Use this method to approve previously created Declaration Request.

In case if authentication_method is OTP, request example:
```
{
  "verification_code": 3748
}
```
In case if authentication_method is OFFLINE, request body should be empty. 
Before approve patient's scanned documents should be uploaded to the ([Signed URL's](https://cloud.google.com/storage/docs/access-control/create-signed-urls-program))
as well as scanned signed declaration (with type person.DECLARATION_FORM).
If make declaration request via cabinet then nothing must be uploaded to URL.
Clients can use signed URL's to directly access Google Cloud Storage via their API 
([Google Cloud Storage API](https://cloud.google.com/storage/docs/xml-api/put-object-upload))

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

    + Attributes (object)
        + `verification_code`: 2836 (number, optional) - required if authentication_method is OTP

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 201 (number)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + seed: hash (string, required)
            + include `Declaration_Request_Public_Response`
            + status: `REJECTED` (string, required)
            + employee (Employee_Minimal, required)
            + `legal_entity` (`Medical_Service_Provider`, required)
                + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + division (`Division_Details`, required)
            + content: `Declaration content` (string, required) - HTML document that MUST be shown to a  - Should be defined on the client side.end-user and signed by hes key.

### Reject Declaration Request [PATCH /api/declaration_requests/{id}/actions/reject]

Use this method to reject previously created Declaration Request.

+ Parameters
    + id: b075f148-7f93-4fc2-b2ec-2d81b19a9b7b (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 201 (application/json)
    + Attributes (Response__Process_OK)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (object)
            + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + seed: hash (string, required)
            + include `Declaration_Request_Public_Response`
            + status: `APPROVED` (string, required)
            + employee (Employee_Minimal, required)
            + `legal_entity` (`Medical_Service_Provider`, required)
                + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)
            + division (`Division_Details`, required)
            + content: `Declaration content` (string, required) - HTML document that MUST be shown to a  - Should be defined on the client side.end-user and signed by hes key.


### Resend Authorization OTP on Declaration Request [POST /api/declaration_requests/{id}/actions/resend_otp]

Use this method to resend sms on previously created Declaration Request.

+ Parameters
    + id: `b075f148-7f93-4fc2-b2ec-2d81b19a9b7b` (string, required)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM

+ Response 200 (application/json)
    + Attributes (Response__Process_OK)
        + data (OTP)

### Sign Declaration Request [PATCH /api/declaration_requests/{id}/actions/sign]

This method is used to sign Declaration Request. Method receives signed message (pkcs7) including signed content, digital signature and signer public key in `signed_content` property. 
All signature fields will be validated (including signer certificate authority).

This service will store signed copy of Declaration Request in Media Content Storage, created or update MPI records and create declaration if signature is all checks is passed.

Signed content MUST consists of JSON object with Declaration Request data and printout template. Object that need to be signed is returned by `Get Declaration request by ID` response, `JSON.Path: $.data`.
[...]
